/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --card-header-font-size: 1.2rem;
}

/**************************************************************************************/

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100%;

}


/*******************************************************************/
/* SIDEBAR */
.container .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2C3639;
    padding: 20px;
    grid-column: 1;
    grid-row: 1 / 3;
    align-items: start;
    z-index: 1;
}

.container .sidebar .links {
    display: flex;
    column-gap: 20px;
}

/*****************************************/
/* ICONS */
.container .sidebar .links>svg {
    flex-shrink: 0;
    height: 1.2rem;
    padding: 0;
    margin: 0;
    align-self: center;
    fill: white;
}

/*************************************/
.container .sidebar .dashboard {
    display: flex;
    gap: 5px;
    margin-left: -15px;
    color: white;
    margin-bottom: 30px;
    align-items: start;
}

.container .sidebar>.dashboard h1 {
    align-self: center;
    font-size: 1.8rem;
    color: white;
}

.container .sidebar>.dashboard svg {
    height: 40px;

}

.container .sidebar>div>a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.container .sidebar>div>a:active {
    color: wheat;
}

.container .sidebar>.communities {
    margin-bottom: 40px;
}

/******************************************************************/
/* HEADER CONTENT*/
.container .header {
    --header-padding-left: 3em;
    --header-top-padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 90px;
    /* place-items: center; */
    background-color: #A27B5C;
    padding-left: var(--header-padding-left);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.555);
    z-index: 0;
}


.header .search { 
    display: flex;
    align-items: center;
    column-gap: 8px;


}

.header .search svg {
    margin-top: 10px;
    flex-shrink: 0;
    height: 25px;
    cursor: pointer;

    display: inline-block;
}

.header .search input {
    width: 70%;
    background-color: rgba(223, 219, 219, 0.89);
    border-radius: 20px;
    padding-left: 10px;
    border-width: 1px;
    border-color: black;
    height: 2.3em;
}

.header .user-info {
    display: flex;
    padding-right: 3em;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.header .user-info svg {
    cursor: pointer;
    flex-shrink: 0;
    height: 25px;
}

.header .user-info .profile {
    overflow: hidden;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
    flex-shrink: 0;
}

.header .user-info h1 {
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.header .greetings {
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    align-items: start;
}

.header .greetings :nth-child(2) {
    align-self: flex-end;
    font-weight: bold;
}

.header .greetings .profile {
    align-self: center;
    grid-row: 1/span 2;
    overflow: hidden;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 100px;
}

.header .greetings h1 {
    text-wrap: nowrap;
    font-size: clamp(20px, -20.3846px + 3.8462cqi, 32px);
    align-items: start;
}

.header .greetings .buttons {
    padding-right: 3em;
    align-self: center;
    grid-column: 3;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.header .greetings .buttons>* {
    cursor: pointer;
    height: 3em;
    width: min(100%, 8em);
    ;
    min-width: 40px;
    border-radius: 30px;
    border-style: none;
    /* color: white; */
    background-color: #DCD7C9;
    text-transform: capitalize;
    font-weight: bold;
}


/*********************************************************************/

.main-content {
    background-color: #DCD7C9;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main-content .title {
    font-size: 1.5rem;
    padding-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

.main-content .projects {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto 1fr;
}

.projects .title {
    padding-left: 21px
}

.main-content .projects .project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px 20px 20px;
}

.main-content .projects .project-cards .card {
    background-color: white;
    border-left: 10px solid #3F4E4F;
    grid-template-rows: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.card .card-content {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.555);
}

.card .card-content>.card-title {
    grid-column: 1 / -1;
    text-transform: capitalize;
    font-size: 1rem;

}

.card .card-content>p {
    grid-row: 2;
    grid-column: 1 / -1;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.678);
}

.card .card-content> :nth-child(3) {
    grid-column: 2;
    grid-row: 3;
    gap: 20px;
    justify-self: end;
}

.card .card-content>.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card .card-content>.buttons svg {
    height: 25px;
}

.main-content .announcements {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-content .announcements .announcement-card {
    display: grid;
    grid-auto-rows: repeat(3, 1fr);
    padding: 20px;
    /* height: 50vh; */
    overflow-y: auto;
    background-color: white;
    margin: 0 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.announcement-card .headline {
    border-bottom: 2px solid black;

}

.announcement-card :last-child {
    border-style: none;

}

.announcement-card .headline .headline-title {
    font-size: 0.9rem;
}

.announcement-card .headline p {
    color: rgba(0, 0, 0, 0.678);
    font-size: 0.7rem;
}

.main-content .trending-cards {
    padding: 20px;
    grid-column: 2;
}

.main-content .trending .trending-cards {
    display: grid;
    row-gap: 20px;
    background-color: white;
    margin: 0 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.trending-cards .trend {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-auto-rows: auto;
}

.trend .profile {
    overflow: hidden;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
    flex-shrink: 0;
    grid-row: 1 / span 2;
    align-self: center;
}

.trend .user {
    align-self: flex-end;
    font-size: 0.8rem;
}

.trend .user::before {
    content: "@";
}

.trend .project {
    font-size: 0.8rem;
    text-wrap: nowrap;
    color: rgba(0, 0, 0, 0.678);
}