* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;

}

.container>div {
    
    border: 2px solid black;
    /* height: 20vh; */
}

.container .sidebar {
    grid-column: 1;
    grid-row: 1/3;

}

.container .header{
    
}

.container .main-content {
    grid-column: 2;
}
