* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 280px 3fr;
    height: 100vh;

}

.container>div {

    border: 1px solid black;
    /* height: 20vh; */
}

/*******************************************************************/
/* SIDEBAR */
.container .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: skyblue;
    padding: 20px;
    grid-column: 1;
    grid-row: 1 / 3;
    align-items: start;
}
.container .sidebar .links{
    display: flex;
    column-gap: 20px;
    /* border: 1px solid red; */

}
/*****************************************/
/* ICONS */
.container .sidebar .links > svg{
    height: 30px;
    padding: 0;
    margin: 0;
    /* color: white; */
    /* background-color: white; */
    fill:white;
}
/*************************************/
.container .sidebar .dashboard{
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    align-items: start;
}
.container .sidebar>.dashboard h1 {
    margin-top: 8px;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}
.container .sidebar>.dashboard svg {
    height: 50px;
 
}
.container .sidebar>div>a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.container .sidebar>div>a:active {
    color: wheat;
}

.container .sidebar>.communities {
    margin-bottom: 40px;
}
/******************************************************************/

.container .header {}

.container .main-content {
    grid-column: 2;
}